body {
    overflow: hidden !important;
}

.c1 {
    width: 100px;
}

.c2 {
    width: 400px;
}

.c3 {
    width: 100px;
}

.c4 {
    width: 100px;
    display: flex;
    justify-content: space-around;
}

.c1_lcf {
    width: 50px;
}

.c2_lcf {
    width: 450px;
}

.c3_lcf {
    width: 150px;
    display: flex;
    justify-content: space-around;
}

.img_foto {
    width: 75px;
    height: 100px;
    border: 1px solid black;
    border-radius: 5px;
}